<% if !current_user || !current_user.user_authentications %>
  <div id="social_login">
    <h2>登录</h2>
    <p>如果你已经拥有以下账户，请直接进行登录。</p>
    <% AuthenticationMethod.where(:environment => ::Rails.env).each do |user| %>
      <p class="social_link">
        <%= link_to(image_tag("store/icons/#{user.preferred_provider}.png", :alt => "#{user.preferred_provider}"), user_authentication_omniauth_authorize_path(user.preferred_provider.to_sym), :title => "登录 #{user.preferred_provider}") if user.active %>
      </p>
    <% end %>
  </div>
<% end %>
